body{
	background-image: url(../../src/assets/sky.jpg);
	.container{
		text-align: center;
		form{



			.button{
				display: block;
				margin: auto;
			}

		}
		.weatherResults{
			text-align: center;
			

		}

	}

}
